Package: com.p2kdev.safariblocker
Name: SafariBlocker
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
Version: 1.2.0
Architecture: iphoneos-arm
Description: Block New Tabs with Options!
Maintainer: Mini <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
